<div class="container mt-4">
  <div class="row">
    <% if @story.status == "Rejected" %>
    <div class="col-md-12">
      <div class="alert alert-danger w-100" role="alert">
        This story doesn't go along with our community guidelines. Please correct the story according to the comments and resubmit.
      </div>
    </div>
    <% end %>
    <div class="col-md-12">
      <div class="section-head">
        <div class="d-flex flex-column flex-lg-row">
          <h2 class="mr-auto"><%= @story.persisted? ? 'Edit Story' : 'New Story'%></h2>
        </div>
      </div>
    </div>
  </div>
  <%= form_with(model: story, local: true) do |form| %>
  <div id="error-explanation"></div>
  <div class="row mb-4">
    <div class="col-md-12">
     <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control', required: true, :minlength => 10, :maxlength => 70 %>
    </div>
  </div>
  <div class="col-md-12">
   <div class="form-group">
    <%= form.label :intro %><small class="ml-2">Character count: 100 - 300</small>
    <%= form.text_area :intro, :rows => 4,:style => "max-height: 200px;min-height:100px;", class: 'form-control track-chars', required: true, :minlength => 100, :maxlength => 300  %>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <%= form.label :content %><small class="ml-2">Character count: 2000 - 5000</small>
    <%= form.rich_text_area :content,:style => "max-height: 600px;min-height:300px;overflow-y:scroll;", required: true, :minlength => 2000, :maxlength => 5000, :class => 'track-chars'  %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category_id, options_for_select(Category.where(deleted: false).order(:name).collect {|a| [a.name, a.id]}, ""), {prompt: true}, {class: "form-control", required: true } %>
  </div>
</div>
<div class="col-md-12">
  <div class="actions">
    <% if @story.status == "Rejected" %>
    <%= form.submit 'Resubmit', class: 'btn btn-primary' %>
    <% else %>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
</div>
<% end %>
</div>
<script type="text/javascript">
  bind_textareas();
</script>