<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="section-head">
        <div class="d-flex flex-column flex-lg-row">
          <h2 class="mr-auto"><%= @story.persisted? ? 'Edit Story' : 'New Story'%></h2>
        </div>
      </div>
    </div>
  </div>
  <%= form_with(model: story, local: true) do |form| %>
  <div id="error-explanation"></div>
  <div class="row mb-4">
    <div class="col-md-12">
     <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control', required: true, :minlength => 10, :maxlength => 70 %>
    </div>
  </div>
  <div class="col-md-12">
   <div class="form-group">
    <%= form.label :intro %>
    <%= form.text_area :intro, class: 'form-control', required: true, :minlength => 100, :maxlength => 200  %>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content, :style => "min-height:250px;", required: true, :minlength => 2000, :maxlength => 5500  %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category_id, options_for_select(Category.where(deleted: false).order(:name).collect {|a| [a.name, a.id]}, ""), {prompt: true}, {class: "form-control", required: true } %>
  </div>
</div>
<div class="col-md-12">
  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
</div>
</div>
<% end %>
</div>
<script type="text/javascript">
  $('form').validate();
</script>