<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @story.content %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @story.intro %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @story.category_id %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @story.contest_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>

<p>
  <strong>Accepted at:</strong>
  <%= @story.accepted_at %>
</p>

<p>
  <strong>Like:</strong>
  <%= @story.like %>
</p>

<p>
  <strong>Banned:</strong>
  <%= @story.banned %>
</p>

<p>
  <strong>Ban reason:</strong>
  <%= @story.ban_reason %>
</p>

<p>
  <strong>Banned at:</strong>
  <%= @story.banned_at %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @story.deleted %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
