<div class="d-flex flex-column flex-lg-row ">
  <h2 class="mr-auto">Stories</h2>
  <div class="float-right">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="<%= list_stories_path(:status => 'All')%>" class="btn btn-secondary rounded-0 <%= !(params.has_key?(:status)) || params[:status] == 'All' ? 'active' : ''%>">All</a>
      <a href="<%= list_stories_path(:status => 'Submitted')%>" class="btn btn-secondary rounded-0 <%= !params[:status].nil? and params[:status] == 'Submitted' ? 'active' : ''%>">Submitted</a>
      <a href="<%= list_stories_path(:status => 'In Review')%>" class="btn btn-secondary rounded-0 <%= !params[:status].nil? and params[:status] == 'In Review' ? 'active' : ''%>">In Review</a>
      <a href="<%= list_stories_path(:status => 'Rejected')%>" class="btn btn-secondary rounded-0 <%= !params[:status].nil? and params[:status] == 'Rejected' ? 'active' : ''%>">Rejected</a>
      <a href="<%= list_stories_path(:status => 'Published')%>" class="btn btn-secondary rounded-0 <%= !params[:status].nil? and params[:status] == 'Published' ? 'active' : ''%>">Published</a>
    </div>
  </div>
</div>

<div class="table-responsive mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th class="text-center">Operations</th>
      </tr>
    </thead>
    <tbody>
      <% if @stories.count == 0 %>
      <tr>
        <td colspan="7" class="text-center">Nothing to display</td>
      </tr>
      <% else %>
        <% @stories.each do |story| %>
          <tr>
            <td style="max-width: 300px;">
              <%= story.title%><hr class="mt-1 mb-1">
              <%= story.status_badge%><br>
              <small class="float-left mt-1">Likes: <span id="story-<%= story.id %>-like"><%= story.like %></span>, Comments: <%= story.comments.count %></small>
            </td>
            <td><%= story.user.full_name %><br><small>Submitted at: <%= story.submitted_at.strftime('%B %d, %Y %I:%M %p') %></small></td>
            <td><%= story.status_badge%></td>
            <td class="text-center"><%= link_to '<i class="fas fa-eye" title="View"></i>'.html_safe, story_path(story) %> <%= link_to '<i class="fas fa-edit ml-1" title="Edit"></i>'.html_safe, edit_story_path(story) %>
            </td>
          </tr>
        <% end %>
      <% end%>
    </tbody>
  </table>
  <%= will_paginate @stories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

</div>
