<h2><%= @country.persisted? ? 'Edit Country' : 'New Country'%></h2>
<%= form_with(model: country) do |form| %>
<div id="error-explanation"></div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :name, class: 'control-label' %>
      <%= form.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :country_code, class: 'control-label' %>
      <%= form.text_field :country_code, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="actions">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<% end %>
<script type="text/javascript">
  $('form').validate();
</script>

