<!DOCTYPE html>
<html>
<head>
  <title>EasyFables</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if (current_user.present? and current_user.has_role? :admin and ['countries','categories','rules','contests','admin_sections'].include? controller_name)%>
  <%= render "layouts/admin_head_panel" %>
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/admin_sidebar" %>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-4" style="padding-bottom: 100px;">
        <% if !notice.blank? %>
          <p id="notice" class="alert alert-info"><%= notice %></p>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </div>
  <%= render "layouts/admin_footer" %>
  <% else %>
  <%= render "layouts/head_panel" %>
  <main   style="padding-top: 70px;">
    <%= yield %>
  </main>
  <%= render "layouts/footer" %>
  <% end %>

  <!-- Footer -->

</body>
</html>
