

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :remote => true) do |f| %>
<img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
<h2>Sign up</h2>
  <ul class="errors"></ul>
  <div class="field">
    <%= f.text_field :full_name, autofocus: true, class: 'form-control',placeholder: "Full Name", required: true %>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-0',placeholder: "Email address", required: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control rounded-0 border-bottom-0 mb-0',placeholder: "Password", required: true %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control',placeholder: "Confirm Password", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-lg btn-primary btn-block" %>
  </div>
  <%= render "users/shared/links" %>
<% end %>


